@model ASPFinal.Models.BRANCH

@using ASPFinal.Models;
@{
    ViewBag.Title = "Branch";
    ASPFinal.Models.HenrysBookStore db = new ASPFinal.Models.HenrysBookStore();
    
}

<div class="row">
    <div class="text-center">
        <h2>Branch</h2>
    </div>
    <div class="col-md-7">
        @using (Html.BeginForm("Branch", "Home", FormMethod.Get))
        {
            @Html.DropDownList("branches", (IEnumerable<SelectListItem>)ViewBag.branches, "Select Branch", new { onchange = "this.form.submit();", Name = "branchnum" })
            if (Model != null)
            {
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.BRANCH_NUM)</th>
                        <td>@Html.DisplayFor(Model => Model.BRANCH_NUM)</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.BRANCH_NAME)</th>
                        <td>@Html.DisplayFor(Model => Model.BRANCH_NAME)</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.BRANCH_LOCATION)</th>
                        <td>@Html.DisplayFor(Model => Model.BRANCH_LOCATION)</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => Model.NUM_EMPLOYEES)</th>
                        <td>@Html.DisplayFor(Model => Model.NUM_EMPLOYEES)</td>
                    </tr>
                </table>
            }
            foreach (INVENTORY inventory in Model.INVENTORY)
            {
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(Model => inventory.BOOK_CODE)</th>
                        <th>@Html.DisplayNameFor(Model => Model.INVENTORY.Where(book => book.ON_HAND )</th>
                    </tr>
                </table>
            }
        }
    </div>
</div>
