@model IEnumerable<ASPFinal.Models.BOOK>

@{
    ViewBag.Title = "Publisher";
    ASPFinal.Models.HenrysBookStore db = new ASPFinal.Models.HenrysBookStore();
}
@Html.Partial("NavigationBox")
<div class="row">
    <div class="text-center">
        <h2>Publisher</h2>
    </div>
    <div class="col-md-7">
        @using (Html.BeginForm("Publisher", "Home", FormMethod.Get))
        {
            @Html.DropDownList("publishers", (IEnumerable<SelectListItem>)ViewBag.publishers, "Select Publisher", new { onchange = "this.form.submit();", Name = "pub_Code" })
            if (Model != null)
            {
                <table>
                    <thead>
                        <tr>
                            <th>Book Code</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Paperback?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model)
                        {
                            <tr>
                                <td><a href='@Url.Action("Book", "Home", new { bookcode = book.BOOK_CODE })'>@book.BOOK_CODE</a></td>
                                <td>@book.TITLE</td>
                                <td>@book.TYPE</td>
                                <td>@book.PRICE</td>
                                <td>@book.PAPERBACK</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>
