@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Browse Inventory", "Inventory", "Home")</li>
        <li>@Html.ActionLink("Browse By Author", "Author", "Home")</li>
        <li>@Html.ActionLink("Browse By Publisher", "Publisher", "Home")</li>
        <li>@Html.ActionLink("Browse By Location", "Branch", "Home")</li>
        <li>@Html.ActionLink("Contact Management", "Contact", "Home")</li>
    </ul>
</body>
</html>